.terrain-page-container{
  position: absolute;
  top: 60px;
  // bottom: 0;
  left: 0;
  right: 0;
  // For 'snowy' background coloring
	background: linear-gradient(-45deg, #ffffff, #ffffff, #edfcff, #ffffc7);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;

  h1, h2, h3, p, a {
    color: black;
    text-align: center;
    padding: 5px 20px;
  }
  h1, h2, h3 {
    font-family: $marker;
  }
  h1 {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    z-index: 20;
  }
}

// For 'snowy' background coloring
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.boards-container {
  max-width: 1200px;
  width: 100%;
  // border: 3px solid blue;
  margin: 0 auto;

  // .separator {

  // }

  // .terrain-parallax {
  //   display: flex;
  //   max-width: inherit;
  //   width: 100%;
  //   margin: inherit;
  //   // position: relative;

  //   .terrain-img {
  //     // // position: fixed;
  //     // // padding: 20px;
  //     // background-color: yellow;
  //     width: 40%;
  //     // z-index: 10;
  //   }
  // }

  
  .section {
    height: 50vh;
    width: 100%;
    // border: 3px solid lightgreen;
    position: relative;

    .board-details {
      // border: 3px solid magenta;
      height: inherit;
      width: 40%;
      display: flex;
      background-color: white;
      border-radius: 4px;
      box-shadow: $skblue-lift
    }
    .deets-right {
      position: absolute;
      right: 0 !important;
    }
    .deets-left {
      position: absolute;
      left: 0 !important;
      flex-direction: row-reverse;
    }
  }
}

.terrain-img{
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
}


#img-park-left {
  background-image: url('../../../assets/terrain/park-landscape.jpeg');
}
#img-powder-left {
  background-image: url('../../../assets/terrain/powder-landscape2.jpeg');
}
#img-piste-left {
  background-image: url('../../../assets/terrain/piste-landscape.jpeg');
}
#img-beginner-left {
  background-image: url('../../../assets/terrain/beginner-landscape.jpeg');
}
#img-all-mountain-left {
  background-image: url('../../../assets/terrain/all-mountain-landscape.jpeg');
}






// #img-park-right {
//   background-image: url('../../../assets/terrain/park-left.jpeg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
//   position: absolute;
//   height: 100%;
//   width: 40%;
//   right: 0;
//   // position: absolute;
//   // top: 0;
//   // left: 0;
// }