.terrain-page-container{
  top: 0;
  // For 'snowy' background coloring
	background: linear-gradient(-45deg, #ffffff, #ffffff, #edfcff, #ffffc7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  h1, h2, h3, p, a {
    color: black;
    text-align: center;
    padding: 5px 20px;
  }
  h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
  }
}

// For 'snowy' background coloring
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



// TERRAIN IMAGES
.terrain-img {
  height: 50vh;
  width: 40vw;
  position: absolute;
}
.img-left{
  left: 0px;
  border: 1px solid blue;
  object-fit: contain;
}
.img-right{
  right: 0px;
  border: 1px solid magenta;
  object-fit: contain;
}

// BOARD DETAILS
.section {
  height: 50vh;
  display: flex;
  margin: 20px;
  padding: 20px;
  .board-details {
    // position: absolute;
    height: inherit;
    width: 700px;
    display: flex;
    border: 2px solid lightgreen;
    background-color: white;
    .board-img {
      height: inherit;
      object-fit: cover;
      padding: 10px;
    }
  }
}

.deets-left {
  left: 40vw;
}

.separator {
  // position: absolute;
  height: 300px;
  width: 120%;
  background-image: url('../../../assets/community.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-position: center;
  // border: 5px solid lime;
}

