.terrain-page-container{
  h1, h2, h3, p, a {
    color: black;
    text-align: center;
    padding: 5px 20px;
  
  }
  
  h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
  }

}



// TERRAIN IMAGES
.terrain-img {
  height: 50vh;
  width: 40vw;
  position: absolute;
}
.img-left{
  left: 0px;
  border: 1px solid blue;
  object-fit: contain;
}
.img-right{
  right: 0px;
  border: 1px solid magenta;
  object-fit: contain;
}

// BOARD DETAILS
.section {
  height: 50vh;
  display: flex;
  margin: 20px;
  padding: 20px;
  .board-details {
    position: absolute;
    height: inherit;
    width: 700px;
    display: flex;
    border: 2px solid lightgreen;
    .board-img {
      height: inherit;
      object-fit: cover;
      padding: 10px;
    }
  }
}

.deets-left {
  left: 40vw;
}



