.preloved-page-container {
  position: absolute;
  top: 45px;
  left: 0;  
  width: 100%;
  // height: 100%;

  // Girls with boards background image
  position: absolute;
  background-image: url('../../../assets/community.jpeg');
  background-attachment: fixed;
  background-size: cover;
  z-index: -10;

  .preloved-title {
    filter: $drop-w;
  }
  .link {
    font-size: 30px;
    right: 10%;
    // color: lightgreen;
    filter: $drop-w;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    // position: relative;
    height: 480px;
    width: 380px;
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 4px;

    box-shadow: $skblue-lift;
    background: $snow-bg;
    background-size: 400% 400%;
    animation: $snow-an;

    // For 'snowy' background coloring
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    overflow: hidden;
    display: flex;

    .card-body {
      color: black;
      height: 250px;

      .title {
        color: black;
        font-weight: 900;
        font-size: 18px;
        padding: 10px;
        margin-top: 10px;
        font-family: $marker;
        font-size: 25px;
      }
      .preloved-img{
        width: 30%;
        height: 100%;
      }
      span {
        font-weight: bold;
        color: black;
      }
    }
  }

  #no-access-bg {
  position: absolute;
  background-image: url('../../../assets/community.jpeg');
  background-attachment: fixed;
  background-size: cover;
  z-index: -10;

  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  margin: 0;
  }

}