@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  color: white;
}

.landing-page-container {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: black;
}

.landing-page-container .landing-img {
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing-page-container .landing-text {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-page-container .landing-text .arrows-down {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  height: 50px;
  width: 50px;
  bottom: 0;
}

.landing-page-container .landing-text h1 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 60px;
}

.landing-page-container .landing-text .glitch-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  left: 35%;
  background-color: black;
}

.landing-page-container .landing-text .glitch-container .glitch, .landing-page-container .landing-text .glitch-container .glow {
  padding: inherit;
  color: white;
  position: relative;
  -webkit-animation: glitch 5s 5s infinite;
          animation: glitch 5s 5s infinite;
}

.landing-page-container .landing-text .glitch-container .glitch::before, .landing-page-container .landing-text .glitch-container .glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  -webkit-animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
          animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.landing-page-container .landing-text .glitch-container .glitch::after, .landing-page-container .landing-text .glitch-container .glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  -webkit-animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
          animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@-webkit-keyframes glitch {
  1% {
    -webkit-transform: rotateX(10deg) skewX(90deg);
            transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    -webkit-transform: rotateX(0deg) skewX(0deg);
            transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes glitch {
  1% {
    -webkit-transform: rotateX(10deg) skewX(90deg);
            transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    -webkit-transform: rotateX(0deg) skewX(0deg);
            transform: rotateX(0deg) skewX(0deg);
  }
}

@-webkit-keyframes noise-1 {
  3.33333% {
    -webkit-clip-path: inset(42px 0 10px 0);
            clip-path: inset(42px 0 10px 0);
  }
  6.66667% {
    -webkit-clip-path: inset(63px 0 27px 0);
            clip-path: inset(63px 0 27px 0);
  }
  10% {
    -webkit-clip-path: inset(17px 0 9px 0);
            clip-path: inset(17px 0 9px 0);
  }
  13.33333% {
    -webkit-clip-path: inset(33px 0 20px 0);
            clip-path: inset(33px 0 20px 0);
  }
  16.66667% {
    -webkit-clip-path: inset(50px 0 51px 0);
            clip-path: inset(50px 0 51px 0);
  }
  20% {
    -webkit-clip-path: inset(84px 0 16px 0);
            clip-path: inset(84px 0 16px 0);
  }
  23.33333% {
    -webkit-clip-path: inset(8px 0 67px 0);
            clip-path: inset(8px 0 67px 0);
  }
  26.66667% {
    -webkit-clip-path: inset(66px 0 11px 0);
            clip-path: inset(66px 0 11px 0);
  }
  30% {
    -webkit-clip-path: inset(86px 0 14px 0);
            clip-path: inset(86px 0 14px 0);
  }
  33.33333% {
    -webkit-clip-path: inset(8px 0 44px 0);
            clip-path: inset(8px 0 44px 0);
  }
  36.66667% {
    -webkit-clip-path: inset(6px 0 17px 0);
            clip-path: inset(6px 0 17px 0);
  }
  40% {
    -webkit-clip-path: inset(50px 0 41px 0);
            clip-path: inset(50px 0 41px 0);
  }
  43.33333% {
    -webkit-clip-path: inset(14px 0 13px 0);
            clip-path: inset(14px 0 13px 0);
  }
  46.66667% {
    -webkit-clip-path: inset(3px 0 94px 0);
            clip-path: inset(3px 0 94px 0);
  }
  50% {
    -webkit-clip-path: inset(93px 0 7px 0);
            clip-path: inset(93px 0 7px 0);
  }
  53.33333% {
    -webkit-clip-path: inset(8px 0 33px 0);
            clip-path: inset(8px 0 33px 0);
  }
  56.66667% {
    -webkit-clip-path: inset(12px 0 36px 0);
            clip-path: inset(12px 0 36px 0);
  }
  60% {
    -webkit-clip-path: inset(56px 0 17px 0);
            clip-path: inset(56px 0 17px 0);
  }
  63.33333% {
    -webkit-clip-path: inset(84px 0 16px 0);
            clip-path: inset(84px 0 16px 0);
  }
  66.66667% {
    -webkit-clip-path: inset(23px 0 32px 0);
            clip-path: inset(23px 0 32px 0);
  }
  70% {
    -webkit-clip-path: inset(88px 0 12px 0);
            clip-path: inset(88px 0 12px 0);
  }
  73.33333% {
    -webkit-clip-path: inset(85px 0 15px 0);
            clip-path: inset(85px 0 15px 0);
  }
  76.66667% {
    -webkit-clip-path: inset(41px 0 60px 0);
            clip-path: inset(41px 0 60px 0);
  }
  80% {
    -webkit-clip-path: inset(98px 0 3px 0);
            clip-path: inset(98px 0 3px 0);
  }
  83.33333% {
    -webkit-clip-path: inset(68px 0 11px 0);
            clip-path: inset(68px 0 11px 0);
  }
  86.66667% {
    -webkit-clip-path: inset(60px 0 19px 0);
            clip-path: inset(60px 0 19px 0);
  }
  90% {
    -webkit-clip-path: inset(26px 0 38px 0);
            clip-path: inset(26px 0 38px 0);
  }
  93.33333% {
    -webkit-clip-path: inset(88px 0 4px 0);
            clip-path: inset(88px 0 4px 0);
  }
  96.66667% {
    -webkit-clip-path: inset(2px 0 57px 0);
            clip-path: inset(2px 0 57px 0);
  }
  100% {
    -webkit-clip-path: inset(78px 0 20px 0);
            clip-path: inset(78px 0 20px 0);
  }
}

@keyframes noise-1 {
  3.33333% {
    -webkit-clip-path: inset(42px 0 10px 0);
            clip-path: inset(42px 0 10px 0);
  }
  6.66667% {
    -webkit-clip-path: inset(63px 0 27px 0);
            clip-path: inset(63px 0 27px 0);
  }
  10% {
    -webkit-clip-path: inset(17px 0 9px 0);
            clip-path: inset(17px 0 9px 0);
  }
  13.33333% {
    -webkit-clip-path: inset(33px 0 20px 0);
            clip-path: inset(33px 0 20px 0);
  }
  16.66667% {
    -webkit-clip-path: inset(50px 0 51px 0);
            clip-path: inset(50px 0 51px 0);
  }
  20% {
    -webkit-clip-path: inset(84px 0 16px 0);
            clip-path: inset(84px 0 16px 0);
  }
  23.33333% {
    -webkit-clip-path: inset(8px 0 67px 0);
            clip-path: inset(8px 0 67px 0);
  }
  26.66667% {
    -webkit-clip-path: inset(66px 0 11px 0);
            clip-path: inset(66px 0 11px 0);
  }
  30% {
    -webkit-clip-path: inset(86px 0 14px 0);
            clip-path: inset(86px 0 14px 0);
  }
  33.33333% {
    -webkit-clip-path: inset(8px 0 44px 0);
            clip-path: inset(8px 0 44px 0);
  }
  36.66667% {
    -webkit-clip-path: inset(6px 0 17px 0);
            clip-path: inset(6px 0 17px 0);
  }
  40% {
    -webkit-clip-path: inset(50px 0 41px 0);
            clip-path: inset(50px 0 41px 0);
  }
  43.33333% {
    -webkit-clip-path: inset(14px 0 13px 0);
            clip-path: inset(14px 0 13px 0);
  }
  46.66667% {
    -webkit-clip-path: inset(3px 0 94px 0);
            clip-path: inset(3px 0 94px 0);
  }
  50% {
    -webkit-clip-path: inset(93px 0 7px 0);
            clip-path: inset(93px 0 7px 0);
  }
  53.33333% {
    -webkit-clip-path: inset(8px 0 33px 0);
            clip-path: inset(8px 0 33px 0);
  }
  56.66667% {
    -webkit-clip-path: inset(12px 0 36px 0);
            clip-path: inset(12px 0 36px 0);
  }
  60% {
    -webkit-clip-path: inset(56px 0 17px 0);
            clip-path: inset(56px 0 17px 0);
  }
  63.33333% {
    -webkit-clip-path: inset(84px 0 16px 0);
            clip-path: inset(84px 0 16px 0);
  }
  66.66667% {
    -webkit-clip-path: inset(23px 0 32px 0);
            clip-path: inset(23px 0 32px 0);
  }
  70% {
    -webkit-clip-path: inset(88px 0 12px 0);
            clip-path: inset(88px 0 12px 0);
  }
  73.33333% {
    -webkit-clip-path: inset(85px 0 15px 0);
            clip-path: inset(85px 0 15px 0);
  }
  76.66667% {
    -webkit-clip-path: inset(41px 0 60px 0);
            clip-path: inset(41px 0 60px 0);
  }
  80% {
    -webkit-clip-path: inset(98px 0 3px 0);
            clip-path: inset(98px 0 3px 0);
  }
  83.33333% {
    -webkit-clip-path: inset(68px 0 11px 0);
            clip-path: inset(68px 0 11px 0);
  }
  86.66667% {
    -webkit-clip-path: inset(60px 0 19px 0);
            clip-path: inset(60px 0 19px 0);
  }
  90% {
    -webkit-clip-path: inset(26px 0 38px 0);
            clip-path: inset(26px 0 38px 0);
  }
  93.33333% {
    -webkit-clip-path: inset(88px 0 4px 0);
            clip-path: inset(88px 0 4px 0);
  }
  96.66667% {
    -webkit-clip-path: inset(2px 0 57px 0);
            clip-path: inset(2px 0 57px 0);
  }
  100% {
    -webkit-clip-path: inset(78px 0 20px 0);
            clip-path: inset(78px 0 20px 0);
  }
}

@-webkit-keyframes noise-2 {
  0% {
    -webkit-clip-path: inset(62px 0 2px 0);
            clip-path: inset(62px 0 2px 0);
  }
  3.33333% {
    -webkit-clip-path: inset(40px 0 9px 0);
            clip-path: inset(40px 0 9px 0);
  }
  6.66667% {
    -webkit-clip-path: inset(18px 0 3px 0);
            clip-path: inset(18px 0 3px 0);
  }
  10% {
    -webkit-clip-path: inset(83px 0 15px 0);
            clip-path: inset(83px 0 15px 0);
  }
  13.33333% {
    -webkit-clip-path: inset(92px 0 5px 0);
            clip-path: inset(92px 0 5px 0);
  }
  16.66667% {
    -webkit-clip-path: inset(12px 0 18px 0);
            clip-path: inset(12px 0 18px 0);
  }
  20% {
    -webkit-clip-path: inset(62px 0 35px 0);
            clip-path: inset(62px 0 35px 0);
  }
  23.33333% {
    -webkit-clip-path: inset(6px 0 67px 0);
            clip-path: inset(6px 0 67px 0);
  }
  26.66667% {
    -webkit-clip-path: inset(44px 0 6px 0);
            clip-path: inset(44px 0 6px 0);
  }
  30% {
    -webkit-clip-path: inset(36px 0 51px 0);
            clip-path: inset(36px 0 51px 0);
  }
  33.33333% {
    -webkit-clip-path: inset(75px 0 8px 0);
            clip-path: inset(75px 0 8px 0);
  }
  36.66667% {
    -webkit-clip-path: inset(31px 0 30px 0);
            clip-path: inset(31px 0 30px 0);
  }
  40% {
    -webkit-clip-path: inset(73px 0 25px 0);
            clip-path: inset(73px 0 25px 0);
  }
  43.33333% {
    -webkit-clip-path: inset(20px 0 9px 0);
            clip-path: inset(20px 0 9px 0);
  }
  46.66667% {
    -webkit-clip-path: inset(27px 0 43px 0);
            clip-path: inset(27px 0 43px 0);
  }
  50% {
    -webkit-clip-path: inset(22px 0 13px 0);
            clip-path: inset(22px 0 13px 0);
  }
  53.33333% {
    -webkit-clip-path: inset(85px 0 10px 0);
            clip-path: inset(85px 0 10px 0);
  }
  56.66667% {
    -webkit-clip-path: inset(66px 0 1px 0);
            clip-path: inset(66px 0 1px 0);
  }
  60% {
    -webkit-clip-path: inset(91px 0 8px 0);
            clip-path: inset(91px 0 8px 0);
  }
  63.33333% {
    -webkit-clip-path: inset(100px 0 1px 0);
            clip-path: inset(100px 0 1px 0);
  }
  66.66667% {
    -webkit-clip-path: inset(30px 0 57px 0);
            clip-path: inset(30px 0 57px 0);
  }
  70% {
    -webkit-clip-path: inset(7px 0 43px 0);
            clip-path: inset(7px 0 43px 0);
  }
  73.33333% {
    -webkit-clip-path: inset(45px 0 42px 0);
            clip-path: inset(45px 0 42px 0);
  }
  76.66667% {
    -webkit-clip-path: inset(58px 0 36px 0);
            clip-path: inset(58px 0 36px 0);
  }
  80% {
    -webkit-clip-path: inset(46px 0 33px 0);
            clip-path: inset(46px 0 33px 0);
  }
  83.33333% {
    -webkit-clip-path: inset(59px 0 13px 0);
            clip-path: inset(59px 0 13px 0);
  }
  86.66667% {
    -webkit-clip-path: inset(1px 0 7px 0);
            clip-path: inset(1px 0 7px 0);
  }
  90% {
    -webkit-clip-path: inset(23px 0 49px 0);
            clip-path: inset(23px 0 49px 0);
  }
  93.33333% {
    -webkit-clip-path: inset(39px 0 24px 0);
            clip-path: inset(39px 0 24px 0);
  }
  96.66667% {
    -webkit-clip-path: inset(23px 0 50px 0);
            clip-path: inset(23px 0 50px 0);
  }
  100% {
    -webkit-clip-path: inset(87px 0 11px 0);
            clip-path: inset(87px 0 11px 0);
  }
}

@keyframes noise-2 {
  0% {
    -webkit-clip-path: inset(62px 0 2px 0);
            clip-path: inset(62px 0 2px 0);
  }
  3.33333% {
    -webkit-clip-path: inset(40px 0 9px 0);
            clip-path: inset(40px 0 9px 0);
  }
  6.66667% {
    -webkit-clip-path: inset(18px 0 3px 0);
            clip-path: inset(18px 0 3px 0);
  }
  10% {
    -webkit-clip-path: inset(83px 0 15px 0);
            clip-path: inset(83px 0 15px 0);
  }
  13.33333% {
    -webkit-clip-path: inset(92px 0 5px 0);
            clip-path: inset(92px 0 5px 0);
  }
  16.66667% {
    -webkit-clip-path: inset(12px 0 18px 0);
            clip-path: inset(12px 0 18px 0);
  }
  20% {
    -webkit-clip-path: inset(62px 0 35px 0);
            clip-path: inset(62px 0 35px 0);
  }
  23.33333% {
    -webkit-clip-path: inset(6px 0 67px 0);
            clip-path: inset(6px 0 67px 0);
  }
  26.66667% {
    -webkit-clip-path: inset(44px 0 6px 0);
            clip-path: inset(44px 0 6px 0);
  }
  30% {
    -webkit-clip-path: inset(36px 0 51px 0);
            clip-path: inset(36px 0 51px 0);
  }
  33.33333% {
    -webkit-clip-path: inset(75px 0 8px 0);
            clip-path: inset(75px 0 8px 0);
  }
  36.66667% {
    -webkit-clip-path: inset(31px 0 30px 0);
            clip-path: inset(31px 0 30px 0);
  }
  40% {
    -webkit-clip-path: inset(73px 0 25px 0);
            clip-path: inset(73px 0 25px 0);
  }
  43.33333% {
    -webkit-clip-path: inset(20px 0 9px 0);
            clip-path: inset(20px 0 9px 0);
  }
  46.66667% {
    -webkit-clip-path: inset(27px 0 43px 0);
            clip-path: inset(27px 0 43px 0);
  }
  50% {
    -webkit-clip-path: inset(22px 0 13px 0);
            clip-path: inset(22px 0 13px 0);
  }
  53.33333% {
    -webkit-clip-path: inset(85px 0 10px 0);
            clip-path: inset(85px 0 10px 0);
  }
  56.66667% {
    -webkit-clip-path: inset(66px 0 1px 0);
            clip-path: inset(66px 0 1px 0);
  }
  60% {
    -webkit-clip-path: inset(91px 0 8px 0);
            clip-path: inset(91px 0 8px 0);
  }
  63.33333% {
    -webkit-clip-path: inset(100px 0 1px 0);
            clip-path: inset(100px 0 1px 0);
  }
  66.66667% {
    -webkit-clip-path: inset(30px 0 57px 0);
            clip-path: inset(30px 0 57px 0);
  }
  70% {
    -webkit-clip-path: inset(7px 0 43px 0);
            clip-path: inset(7px 0 43px 0);
  }
  73.33333% {
    -webkit-clip-path: inset(45px 0 42px 0);
            clip-path: inset(45px 0 42px 0);
  }
  76.66667% {
    -webkit-clip-path: inset(58px 0 36px 0);
            clip-path: inset(58px 0 36px 0);
  }
  80% {
    -webkit-clip-path: inset(46px 0 33px 0);
            clip-path: inset(46px 0 33px 0);
  }
  83.33333% {
    -webkit-clip-path: inset(59px 0 13px 0);
            clip-path: inset(59px 0 13px 0);
  }
  86.66667% {
    -webkit-clip-path: inset(1px 0 7px 0);
            clip-path: inset(1px 0 7px 0);
  }
  90% {
    -webkit-clip-path: inset(23px 0 49px 0);
            clip-path: inset(23px 0 49px 0);
  }
  93.33333% {
    -webkit-clip-path: inset(39px 0 24px 0);
            clip-path: inset(39px 0 24px 0);
  }
  96.66667% {
    -webkit-clip-path: inset(23px 0 50px 0);
            clip-path: inset(23px 0 50px 0);
  }
  100% {
    -webkit-clip-path: inset(87px 0 11px 0);
            clip-path: inset(87px 0 11px 0);
  }
}

.landing-page-container .scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.landing-page-container .scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
  -webkit-animation: fudge 7s ease-in-out alternate infinite;
          animation: fudge 7s ease-in-out alternate infinite;
}

@-webkit-keyframes fudge {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 2%);
            transform: translate(0px, 2%);
  }
}

@keyframes fudge {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 2%);
            transform: translate(0px, 2%);
  }
}

.landing-page-container .glow {
  text-shadow: 0 0 1000px #dfbfbf;
  color: transparent;
  position: absolute;
  top: 0;
  border: 2px solid lime;
}

@-webkit-keyframes glitch-2 {
  1% {
    -webkit-transform: rotateX(10deg) skewX(70deg);
            transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    -webkit-transform: rotateX(0deg) skewX(0deg);
            transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes glitch-2 {
  1% {
    -webkit-transform: rotateX(10deg) skewX(70deg);
            transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    -webkit-transform: rotateX(0deg) skewX(0deg);
            transform: rotateX(0deg) skewX(0deg);
  }
}
/*# sourceMappingURL=landingPage.css.map */