.boards-selection {
  width: 50vw;
  height: 60%;
  left: 10px;

}


.board-selector {
  width: 50vw;
  min-width: 50vw;
  max-width: 700px;
  height: 15vh;
  position: absolute;
  overflow: hidden;
  filter: $drop;
  background-size: cover;

  background-repeat: no-repeat;
  transition: transform .5s ease-in-out;



  .selector-text {
    text-align: center;
    font-size: 30px;
    // color: black;
    // background-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    transition: background-color .3s linear;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    padding: 7px 30px;
  }
}

.selection {
  background-position: right;
}

.board-selector:hover{
  transform: translateY(-30px);
  .selector-text{
    background-color: rgba(255, 0, 255, 0.7);
  }
}

.animate {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes slide-up{
  0% {bottom: -20vh;}
 }

#piste {
  background-image: url(../../../../public/assets/landing/piste.png);
  bottom: 60vh;
  z-index: 5;

}
#park {
  background-image: url(../../../../public/assets/landing/park.png);
  bottom: 48vh;
  z-index: 6;
}
#powder {
  background-image: url(../../../../public/assets/landing/powder.png);
  bottom: 36vh;
  z-index: 7;
}
#all-mountain {
  background-image: url(../../../../public/assets/landing/all-mountain.png);
  bottom: 24vh;
  z-index: 8;
}
#beginner {
  background-image: url(../../../../public/assets/landing/beginner.png);
  bottom: 12vh;
  z-index: 9;
}
#all {
  background-image: url(../../../../public/assets/landing/all.png);
  bottom: 0;
  z-index: 10;
}

