@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import './variables.scss';
@import './components/common/navbar.scss';
@import './components/common/auth.scss';
@import './components/landingPage/landingPage.scss';
@import './components/landingPage/landingPageSelection.scss';
@import './components/boards/boardsCarousel.scss';
@import './components/boards/boardsTerrain.scss';
@import './components/boards/boardsAdvice.scss';

// @import 'slick-carousel/slick/slick.css';
// @import 'slick-carousel/slick/slick-theme.css';



* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  color: white;
}



