
$drop: drop-shadow(0 0 5px magenta);
$drop-g: drop-shadow(0 0 10px lightgreen);
$drop-b: drop-shadow(0 0 5px blue);
$drop-lb: drop-shadow(0 0 5px rgba(0,255,255,0.7));
$drop-w: drop-shadow(0 0 5px rgba(255,255,255,0.7));

$blue-lift: 0px 1px 2px 0px rgba(0,255,255,0.7),
1px 2px 4px 0px rgba(0,255,255,0.7),
2px 4px 8px 0px rgba(0,255,255,0.7),
2px 4px 16px 0px rgba(0,255,255,0.7);

$pink-lift: 0px 1px 2px 0px rgba(255, 0, 255,0.7),
1px 2px 4px 0px rgba(255, 0, 255,0.7),
2px 4px 8px 0px rgba(255, 0, 255,0.7),
2px 4px 16px 0px rgba(255, 0, 255,0.7);

$dblue-lift: 0px 1px 2px 0px rgba(0, 0, 255,0.7),
1px 2px 4px 0px rgba(0, 0, 255,0.7),
2px 4px 8px 0px rgba(0, 0, 255,0.7),
2px 4px 16px 0px rgba(0, 0, 255,0.7);

$skblue-lift: 0px 1px 2px 0px rgba(135, 206, 235, 0.7),
1px 2px 4px 0px rgba(135, 206, 235, 0.7),
2px 4px 8px 0px rgba(135, 206, 235, 0.7),
2px 4px 16px 0px rgba(135, 206, 235, 0.7);

$marker: 'Permanent Marker', cursive;